
@media ( max-width : 768px) {
	
	body {
		font-size: 16px;
	}

	/** Entête */
		
	#header {
		width: 4em;
		float: left;
		position: absolute;
		padding:0.5em 0.1em ;
		border : 2px solid #000000;
		
	}	
	
	#header .logo{
		height: 3em;
		background: url("../images/charte/logo_mae_blanc_278x75.png");
		background-size: auto 3em;
		
	}
	
	#bandeau_appli {
		margin-bottom: 2em;
	    margin-left: 3.3em;
	    text-align: center;
	    width: auto;
	}

	#hd #bandeau_appli #logo_appli{
		height: 4em;
		padding: 0 5em 0 0;
		margin: 0;
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	
	#hd #bandeau_appli a {
	    font-size: 0.5em;
	    line-height: normal;
	    margin-top: 2em;
	}

	#hd #bandeau_appli a img {
		padding-left : 1.5em;
	}
	
	#hd #bandeau_appli a h1 {
		padding: 1.5em 0 0;
		white-space: normal;
	}
	
	#infos {
	    font-size: .9em;
	    width: 100%;
	}
		
	.fermer_reseaux_sociaux {
		display: none;
	}
	.fermer_langues {
		display: none;
	}
	
	#access_liens li.yui3-hidden-phone {
		display: none;
	}
	
	/* Menu */
	#nav {
		position: absolute;
		top: 0em;
	}
	#cssmenu {
		margin-left: 0;
	}
	
	#cssmenu-container {
		width: 50%;
		float: right;
		padding: .5em 0 0;
	}
	#cssmenu li a,#cssmenu li span,#cssmenu ul ul a,#cssmenu ul ul span {
		line-height: 3em;
		font-size: 1em;
	}
	
	#cssmenu .menu-racine {
	    margin: 0.3em 0.5em;
	    font-size: 1.2em;
	}
	
	#logout-container {
	    display: none;
	}
	
	#cssmenu.active > ul {
	    top: 3.5em;
	}
	
	/* Fil d'Ariane */
	#fil-ariane {
		font-size: 1em;
		margin: 0;
	}
	#fil-ariane .fil-ariane-minimisable a,#fil-ariane .fil-ariane-minimisable span {
		max-width: 0px;
		padding: 0.7em 0 0.7em 0.8em;
	}
	#fil-ariane .fil-ariane-minimisable a,#fil-ariane .fil-ariane-minimisable span {
		display: none;
	}
	#fil-ariane .fil-ariane-chevron {
		display: none;
	}
	#fil-ariane li {
		background: none;
		float: left;
		line-height: 1em;
		float: left;
	}
	#fil-ariane a,#fil-ariane span {
		background: #336699;
		padding: 0.7em 0.5em;
		float: left;
		text-decoration: none;
		color: #fff;
		position: relative;
	}
	#fil-ariane li > a::before,#fil-ariane li > span::before {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -1.5em;
		border-width: 1.5em 0 1.5em 1em;
		border-style: solid;
		border-color: #336699 #336699 #336699 transparent;
		left: -1em;
	}
	#fil-ariane li > a::after,#fil-ariane li > span::after {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -1.5em;
		border-top: 1.5em solid transparent;
		border-bottom: 1.5em solid transparent;
		border-left: 1em solid #336699;
		right: -1em;
	}
	#fil-ariane .fil-ariane-racine a {
		background-image: url("../images/b_accueil-med.png");
		background-position: 5px;
		background-repeat: no-repeat;
		width: 1em;
		position: -1000px;
	}
	#fil-ariane .fil-ariane-racine a > span {
		position: absolute;
		left: -10000px;
	}
	#fil-ariane .fil-ariane-racine a::before {
		border: none;
	}
	/* Niveau parent */
	#fil-ariane li.fil-ariane-parent span, #fil-ariane li.fil-ariane-parent a {
		font-weight: bold;
		background-color: #7BB1DB;
	}
	#fil-ariane li.fil-ariane-parent span {
		color: #000000;
	}
	#fil-ariane li.fil-ariane-parent span::before, #fil-ariane li.fil-ariane-parent a::before {
		border-color: #7BB1DB #7BB1DB #7BB1DB transparent;
	}
	#fil-ariane li.fil-ariane-parent span::after, #fil-ariane li.fil-ariane-parent a::after {
		border-left-color: #7BB1DB;
	}
	/* Élément courant masqué */
	#fil-ariane li.fil-ariane-courant span, #fil-ariane li.fil-ariane-courant a {
		display:none;
	}

	/* Sections masquables des formulaires */
	.collapsible-section .collapsible-section-target {
		display: none;
	}
	.collapsible-section.collapsible-section-active .collapsible-section-target {
		display: block;
	}
	.collapsible-section .collapsible-section-trigger {
		background-image: url('../images/show.png');
		background-repeat: no-repeat;
		background-position: right;
		padding-right: 1em;
	}
	.collapsible-section.collapsible-section-active .collapsible-section-trigger {
		background-image: url('../images/hide.png');
		background-repeat: no-repeat;
		background-position: right;
	}
	label,.label,input[type="checkbox"],input[type="radio"],input[type="text"],input[type="password"],textarea,select {
		margin-left: 0.5em;
	}
	label,.label,.labelWithTooltip {
		margin-top: 1em;
		text-align: inherit;
	}
	input[type="text"],input[type="password"],textarea,select {
		max-width: 100%;
	}
	input[type="text"],input[type="password"],select {
		height: 1.8em;
		max-width: 100%;
	}

	/* Force table to not be like tables anymore */
	.table .yui-dt table,.table .yui-dt thead,.table .yui-dt tbody,.table .yui-dt th,.table .yui-dt td,.table .yui-dt tr {
		display: block;
	}
	.table .yui-dt table .yui-dt-hidden {
		display: none;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.table .yui-dt thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table .yui-dt tr.yui-dt-first td {
		border-top: none !important;
	}
	.table .yui-dt td {
		/* Behave  like a "row" */
		/* 		border: none; */
		/* 		border-bottom: 1px solid #eee;  */
		border-bottom: 1px solid #C0D2E7 !important;
		position: relative;
		padding-left: 50% !important;
		width: auto !important;
	}
	.table .yui-dt tr.yui-dt-odd td {
		border-bottom: 1px solid #8CC1FF;
	}
	.table .yui-dt td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		left: 6px;
		top: 3px;
		line-height: 1.6em;
		padding-right: 10px;
		text-align: left;
		white-space: nowrap;
		width: 45%;
	}

	/* Fixe la hauteur des lignes */
	.table .yui-dt-liner {
		min-height: 1.6em;
		line-height: 1.6em;
	}
	.table .yui-dt .icone * {
		padding: 2px;
	}

	/* Ajustement de l'affichages actions */
	.table .outils .actionsMasse {
		float: right;
		margin-right: 22%;
	}
	.table .outils .actions+.actions {
		margin-left: 0;
	}
	.table .outils {
		padding-left: 0 !important;
	}
	.table .selection {
		background: none !important;
	}
	.table .yui-dt-col-selection {
		background: none !important;
	}
	.table .yui-dt-col-selection input[type="checkbox"],.table .yui-dt-col-selection input[type="radio"] {
		margin-top: calc() !important;
	}

	/* Boutons des filtres dans le tableau */
	.table .filtre .button-group {
		margin-top: 1em !important;
	}
}