/* éléments RWD spécifique à l'application */
@media (max-width:767px) { 
	/* FIXME : trouver un moyen de génération */
	/* Label des colonnes de tableaux */
	/* Secteurs */
	#tableauSecteurs.table .yui-dt td:nth-of-type(1):before { content: "Id"; }
	#tableauSecteurs.table .yui-dt td:nth-of-type(2):before { content: "Nom"; }
	#tableauSecteurs.table .yui-dt td:nth-of-type(3):before { content: "Description"; }
	#tableauSecteurs.table .yui-dt td:nth-of-type(4):before { content: "Date création"; }
	#tableauSecteurs.table .yui-dt td:nth-of-type(5):before { content: "Date de mise à jour"; }
	#tableauSecteurs.table .yui-dt td:nth-of-type(6):before { content: "Auteur de la création"; }
	#tableauSecteurs.table .yui-dt td:nth-of-type(7):before { content: "Éditer"; }
	#tableauSecteurs.table .yui-dt td:nth-of-type(8):before { content: "Supprimer"; }
}
